// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~bootstrap/scss/bootstrap';
// Variables
@import 'variables';

// Bootstrap


@import './components/scroll.scss';
@import './components/login.scss';
@import './components/datatable.scss';

.bg-dark{
    background-color: black !important;
}

.logo{
    width: 65%;
}

.red{
    color: red;
}

.options-asesores{
    width: 170px !important;
}

.scrolltable {
      overflow: auto;
}